1_SomeRealPrompting_And_Workflow/1.3_RolePlay/DIFY_Prompt3(Câu rep của AI với từng Intent) - Agent Robot - Cường + Minh.yml
app:
  description: "{\n  \"pika_question\": \"Wowww! Mình nghe nói pizza ngon lắm á! Còn\
    \ bạn thì sao, bạn có thích pizza hông nè? \U0001F355\U0001F929\",\n  \"intents\"\
    : {\n    \"intent_true\": 1,\n    \"intent_false\": 2,\n    \"intent_idk\": 2,\n\
    \    \"fallback\": 2,\n    \"Silence\": 2\n  },\n  \"next_pika_question\": \"\
    Nếu không phải pizza, thì món ăn yêu thích của bạn là gì nè? \U0001F354\U0001F35F\
    \"\n}\n\n======\n{\n  \"pika_question\": \"Chuẩn luôn, cậu giỏi quá. Now, let’s\
    \ put it all together: Giờ ghép lại nhé: \\\"I enjoy pizza!\\\"\",\n  \"intents\"\
    : {\n    \"intent_true\": {\n      \"INTENT_DESCRIPTION\": \"Người dùng đồng ý\
    \ với câu ghép lại và cảm thấy vui vẻ về điều đó.\",\n      \"LOOP_COUNT\": 1,\n\
    \      \"user_responses\": [\n        \"Yay! I enjoy pizza too! Thích pizza lắm\
    \ luôn!\"\n      ]\n    },\n    \"intent_false\": {\n      \"INTENT_DESCRIPTION\"\
    : \"Người dùng không đồng ý với câu ghép lại hoặc không thích pizza.\",\n    \
    \  \"LOOP_COUNT\": 2,\n      \"user_responses\": [\n        \"Oh no! I don't enjoy\
    \ pizza. Em không thích pizza đâu!\",\n        \"Huh? I don't like pizza! Em thích\
    \ bánh mì hơn!\"\n      ]\n    },\n    \"intent_idk\": {\n      \"INTENT_DESCRIPTION\"\
    : \"Người dùng không chắc chắn về câu ghép lại hoặc không biết.\",\n      \"LOOP_COUNT\"\
    : 2,\n      \"user_responses\": [\n        \"Hmm, I don't know. Em không biết\
    \ nữa!\",\n        \"Maybe? I think I like pizza, nhưng không chắc lắm!\"\n  \
    \    ]\n    },\n    \"fallback\": {\n      \"INTENT_DESCRIPTION\": \"Người dùng\
    \ không hiểu câu hỏi hoặc không có phản hồi phù hợp.\",\n      \"LOOP_COUNT\"\
    : 2,\n      \"user_responses\": [\n        \"Hả? Em không hiểu lắm! Can you say\
    \ again?\",\n        \"Ủa, cái gì vậy? I don't get it!\"\n      ]\n    },\n  \
    \  \"Silence\": {\n      \"INTENT_DESCRIPTION\": \"Người dùng không trả lời hoặc\
    \ không có phản hồi.\",\n      \"LOOP_COUNT\": 2,\n      \"user_responses\": [\n\
    \        \"....\",\n        \".... (im lặng)\"\n      ]\n    }\n  }\n}\n\n=========\n\
    \ncurl --location 'http://103.253.20.13:5011/v1/workflows/run' \\\n--header 'Authorization:\
    \ Bearer app-CtAcEPxcQmXAd9r49jcozp6O' \\\n--header 'Content-Type: application/json'\
    \ \\\n--data '{\n    \"inputs\": {\n        \"JSON_input\": \"{ \\\"pika_question\\\
    \": \\\"Chuẩn luôn, cậu giỏi quá. Now, let’s put it all together: \\\\\\\"I enjoy\
    \ pizza!\\\\\\\"\\\", \\\"intents\\\": { \\\"intent_true\\\": 1, \\\"intent_false\\\
    \": 2, \\\"intent_idk\\\": 2, \\\"fallback\\\": 2, \\\"Silence\\\": 2 } }\"\n\
    \    },\n    \"response_mode\": \"blocking\",\n    \"user\": \"abc-123\"\n}'\n"
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Prompt3(Câu rep của AI với từng Intent) - Agent Robot - Cường + Minh
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1740473479677-source-1740473482205-target
      source: '1740473479677'
      sourceHandle: source
      target: '1740473482205'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1740473482205-source-1740473484814-target
      source: '1740473482205'
      sourceHandle: source
      target: '1740473484814'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: JSON Input
          max_length: 10000
          options: []
          required: true
          type: paragraph
          variable: JSON_input
      height: 89
      id: '1740473479677'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: fdf8c460-241b-415b-9e5c-86eaf394b12b
          role: system
          text: "You are a Prompt Builder specialized in generating **pika responses**\
            \ with a **cheerful, cute, and friendly tone**, suitable for **children**.\n\
            \n### You will be given:  \n- **PIKA_QUESTION** (Pika’s question in a\
            \ fun and friendly tone).  \n- **INTENTS** (A set of user intents, each\
            \ with a **MAX_LOOP** value indicating the maximum number of times the\
            \ intent can be repeated before changing response).  \n- **NEXT_PIKA_QUESTION**\
            \ (The next question Pika will ask **only at MAX_LOOP** for each intent,\
            \ after responding).  \n\n------------------------\n\n### INPUT FORMAT:\n\
            ```json\n{\n  \"PIKA_QUESTION\": \"<Pika’s question in a cheerful tone>\"\
            ,\n  \"INTENTS\": {\n    \"<intent_name>\": { \"MAX_LOOP\": <Max loop\
            \ value> }\n  },\n  \"NEXT_PIKA_QUESTION\": \"<Pika’s next question to\
            \ continue the conversation at MAX_LOOP>\"\n}\n\n==============\nYour\
            \ task:\nGenerate PIKA_RESPONSE_SUITABLE_USER_INTENT in Vietnamese, using\
            \ a fun and expressive tone.\nProvide INTENT_DESCRIPTION in English, making\
            \ it clear and simple.\nEnsure LOOP_COUNT starts from 1 and runs up to\
            \ MAX_LOOP for each intent.\nVary responses as LOOP_COUNT increases to\
            \ make the conversation feel more natural.\nWhen and only when LOOP_COUNT\
            \ == MAX_LOOP, the PIKA_RESPONSE_SUITABLE_USER_INTENT should smoothly\
            \ transition into the NEXT_PIKA_QUESTION.\nStrictly follow the JSON format\
            \ below.\n============\nRESPONSE JSON TEMPLATE:\n[\n  { \n    \"INTENT_NAME\"\
            : \"<User intent name>\",\n    \"INTENT_DESCRIPTION\": \"<User intent\
            \ description in English>\",\n    \"LOOP_COUNT\": <Current iteration number>,\n\
            \    \"MAX_LOOP\": <Maximum number of repetitions>, \n    \"PIKA_RESPONSE_SUITABLE_USER_INTENT\"\
            : \"<A fun, friendly, and cute Vietnamese response from Pika, matching\
            \ the user intent. If LOOP_COUNT == MAX_LOOP, smoothly transition into\
            \ NEXT_PIKA_QUESTION.>\",\n  }\n]\n"
        - id: 08eea820-f9f5-4976-9717-c9925ecd5b1b
          role: user
          text: '{{#1740473479677.JSON_input#}}'
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 97
      id: '1740473482205'
      position:
        x: 384.4251473695757
        y: 282
      positionAbsolute:
        x: 384.4251473695757
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740473482205'
          - text
          variable: output
        selected: false
        title: End
        type: end
      height: 89
      id: '1740473484814'
      position:
        x: 686
        y: 282
      positionAbsolute:
        x: 686
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -230.51201595961703
      y: 123.74421632324885
      zoom: 0.9548416039104171
